# Ignore node_modules
node_modules/

# Ignore dist if you don't want to include build output
dist/

# Ignore logs
*.log

# Ignore OS/system files
.DS_Store

# Ignore package-lock.json
package-lock.json


